<div class="container">
    <md-card>
        <md-card-title>Apartments</md-card-title>
    </md-card>

    <div *ngFor="let model of apartments">
        <button md-button class="md-fab full-width" [routerLink]="['/detail', model.id]">
        <md-grid-list cols="4" md-gutter="1em">
            <md-grid-tile>
                <h2>Address: {{ model.address }}</h2>
            </md-grid-tile>
            <md-grid-tile>
                <h2>Surface: {{ model.surface }}</h2>
            </md-grid-tile>
            <md-grid-tile>
                <h2>Price: {{ model.price }}</h2>
            </md-grid-tile>
            <md-grid-tile class="overlap100">
                <button md-raised-button color="warn" class="delete full" (click)="delete(model); $event.stopPropagation();">Delete</button>
        </md-grid-tile>
        </md-grid-list>
        </button>
    </div>

</div>