<md-card>
    <md-card-title>Add new apartment</md-card-title>
</md-card>
<md-grid-list cols="3" md-gutter="1em">
    <md-grid-tile>
    </md-grid-tile>
    <md-grid-tile>
        <form name="addApartmentForm" class="form">
            <md-list>
                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="Address" #apAddress name="address">
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="Surface" #apSurface name="surface">
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="Price" #apPrice name="price">
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="Rooms" #apRooms name="rooms">
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="Baths" #apBaths name="baths">
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <button md-button md-raised-button color="primary" aria-label="Add" (click)="add(apRooms.value,apBaths.value,apAddress.value,apSurface.value,apPrice.value); apRooms.value=''; apBaths.value=''; apAddress.value=''; apSurface.value=''; apPrice.value='';">Add</button>
                    <button md-button (click)="goBack()">Back</button>
                </md-list-item>
            </md-list>
        </form>
    </md-grid-tile>
    <md-grid-tile>
    </md-grid-tile>
</md-grid-list>