<div *ngIf="apartment">
    <md-card>
        <md-card-title>Edit Apartment: {{ apartment.id }}</md-card-title>
    </md-card>
    <md-grid-list cols="3" md-gutter="1em">
        <md-grid-tile>
        </md-grid-tile>
        <md-grid-tile>
            <form name="addApartmentForm" class="form">
                <md-list>
                    <md-list-item>
                        <md-input-container>
                            <input mdInput placeholder="Address" #apAddress [(ngModel)]="apartment.address" name="address">
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container>
                            <input mdInput mdInput placeholder="Surface" #apSurface [(ngModel)]="apartment.surface" name="surface">
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container>
                            <input mdInput mdInput placeholder="Price" #apPrice [(ngModel)]="apartment.price" name="price">
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container>
                            <input mdInput mdInput placeholder="Rooms" #apRooms [(ngModel)]="apartment.rooms" name="rooms">
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container>
                            <input mdInput placeholder="Baths" #apBaths [(ngModel)]="apartment.baths" name="baths">
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <button md-button md-raised-button color="primary" (click)="save()">Save</button>
                        <button md-button (click)="goBack()">Back</button>
                    </md-list-item>
                </md-list>
            </form>
        </md-grid-tile>
        <md-grid-tile>
        </md-grid-tile>
    </md-grid-list>
</div>